@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0.5turn, #18181b 0%, #09090b 100%);
    color: #fff;
}

.container {
    margin: 0 15px;
    width: 100%;
    max-width: 450px;
}

#login-form {
    width: 100%;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
   box-shadow: 0 0 25px rgba(96, 165, 250, 0.25), 0 10px 30px rgba(0, 0, 0, 0.8);
}
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 25px;
}

form a {
    color: #60a5fa;
    text-decoration: none;
    transition: color 0.2s ease;
}

form a:hover {
    color: #93c5fd;
    text-decoration: underline;
}

form a:active {
    color: #f43f5e;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #fff;
    font-size: 16px;
    color: black;
}

input[type="email"] {
    margin-bottom: 20px;
}

.password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    padding-right: 45px; 
}

#togglePassword {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; 
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #6366f1 0%, #a855f7 100%);
    color: #000;
    font-size: 16px;
    margin-bottom: 15px;
}

button[type="submit"]:hover {
    opacity: 0.9;
}